HCLIB_OSHMEM_CFLAGS+=-I$(HCLIB_ROOT)/../modules/openshmem/inc -I$(OPENSHMEM_INSTALL)/include
HCLIB_OSHMEM_CXXFLAGS+=-I$(HCLIB_ROOT)/../modules/openshmem/inc -I$(OPENSHMEM_INSTALL)/include
HCLIB_OSHMEM_LDFLAGS+=-L$(HCLIB_ROOT)/../modules/openshmem/lib -L$(OPENSHMEM_INSTALL)/lib
HCLIB_OSHMEM_LDLIBS+=-lrt -lhclib_system -lhclib_openshmem
