init
samplesort_omp
shmem_malloc
shmem_barrier_all
shmem_put64
shmem_broadcast64
shmem_lock_stress
shmem_int_wait_until
shmem_int_wait_until_any
shmem_int_async_when
shmem_int_async_when_any
many_putmem
