needle.flat
needle.recursive
needle.ref.tied
needle.ref.tied.flat
needle.ref.tied.recursive
needle.ref.untied
needle.ref.untied.flat
needle.ref.untied.recursive
needle.tied.flat
needle.tied.recursive
needle.untied.flat
needle.untied.recursive
