kmeans
kmeans.ref
*.o
kmeans.balance
kmeans.flat
kmeans.recursive
kmeans.recursive.hpcstruct
kmeans.ref.hpcstruct
kmeans.ref.tied
kmeans.ref.tied.flat
kmeans.ref.tied.recursive
kmeans.ref.untied
kmeans.ref.untied.flat
kmeans.ref.untied.recursive
kmeans.tied.flat
kmeans.tied.recursive
kmeans.untied.flat
kmeans.untied.recursive
