strassen.ref.icc.omp-tasks
strassen.ref.icc.omp-tasks-if_clause
strassen.ref.icc.omp-tasks-if_clause-tied
strassen.ref.icc.omp-tasks-manual
strassen.ref.icc.omp-tasks-manual-tied
strassen.ref.icc.omp-tasks-tied
strassen.icc.omp-tasks.ref
