nqueens.icc.omp-tasks
nqueens.icc.omp-tasks-if_clause
nqueens.icc.omp-tasks-if_clause-tied
nqueens.icc.omp-tasks-manual
nqueens.icc.omp-tasks-manual-tied
nqueens.icc.omp-tasks-tied
nqueens.ref.icc.omp-tasks
nqueens.ref.icc.omp-tasks-if_clause
nqueens.ref.icc.omp-tasks-if_clause-tied
nqueens.ref.icc.omp-tasks-manual
nqueens.ref.icc.omp-tasks-manual-tied
nqueens.ref.icc.omp-tasks-tied
nqueens.icc.omp-tasks.ref
