*.o
*.dSYM
alignment/alignment_for/alignment.gcc.for-omp-tasks
alignment/alignment_for/alignment.gcc.for-omp-tasks-tied
alignment/alignment_single/alignment.gcc.single-omp-tasks
alignment/alignment_single/alignment.gcc.single-omp-tasks-tied
floorplan/floorplan.gcc.omp-tasks
floorplan/floorplan.gcc.omp-tasks-if_clause
floorplan/floorplan.gcc.omp-tasks-if_clause-tied
floorplan/floorplan.gcc.omp-tasks-manual
floorplan/floorplan.gcc.omp-tasks-manual-tied
floorplan/floorplan.gcc.omp-tasks-tied
health/health.gcc.omp-tasks
health/health.gcc.omp-tasks-if_clause
health/health.gcc.omp-tasks-if_clause-tied
health/health.gcc.omp-tasks-manual
health/health.gcc.omp-tasks-manual-tied
health/health.gcc.omp-tasks-tied
sort/sort.gcc.omp-tasks
sort/sort.gcc.omp-tasks-tied
sparselu/sparselu_for/sparselu.gcc.for-omp-tasks
sparselu/sparselu_for/sparselu.gcc.for-omp-tasks-tied
sparselu/sparselu_single/sparselu.gcc.single-omp-tasks
sparselu/sparselu_single/sparselu.gcc.single-omp-tasks-tied
strassen/strassen.gcc.omp-tasks
strassen/strassen.gcc.omp-tasks-if_clause
strassen/strassen.gcc.omp-tasks-if_clause-tied
strassen/strassen.gcc.omp-tasks-manual
strassen/strassen.gcc.omp-tasks-manual-tied
strassen/strassen.gcc.omp-tasks-tied
uts/uts.gcc.omp-tasks
uts/uts.gcc.omp-tasks-tied
floorplan/floorplan.icc.omp-tasks
floorplan/floorplan.icc.omp-tasks-if_clause
floorplan/floorplan.icc.omp-tasks-if_clause-tied
floorplan/floorplan.icc.omp-tasks-manual
floorplan/floorplan.icc.omp-tasks-manual-tied
floorplan/floorplan.icc.omp-tasks-tied
health/health.icc.omp-tasks
health/health.icc.omp-tasks-if_clause
health/health.icc.omp-tasks-if_clause-tied
health/health.icc.omp-tasks-manual
health/health.icc.omp-tasks-manual-tied
health/health.icc.omp-tasks-tied
sort/sort.icc.omp-tasks
sort/sort.icc.omp-tasks-tied
sparselu/sparselu_for/sparselu.icc.for-omp-tasks
sparselu/sparselu_for/sparselu.icc.for-omp-tasks-tied
sparselu/sparselu_single/sparselu.icc.single-omp-tasks
sparselu/sparselu_single/sparselu.icc.single-omp-tasks-tied
strassen/strassen.icc.omp-tasks
strassen/strassen.icc.omp-tasks-if_clause
strassen/strassen.icc.omp-tasks-if_clause-tied
strassen/strassen.icc.omp-tasks-manual
strassen/strassen.icc.omp-tasks-manual-tied
strassen/strassen.icc.omp-tasks-tied
uts/uts.icc.omp-tasks
uts/uts.icc.omp-tasks-tied
alignment_for/alignment.gcc.for-omp-tasks
alignment_for/alignment.gcc.for-omp-tasks-tied
alignment_single/alignment.gcc.single-omp-tasks
alignment_single/alignment.gcc.single-omp-tasks-tied
sparselu_for/sparselu.gcc.for-omp-tasks
sparselu_for/sparselu.gcc.for-omp-tasks-tied
sparselu_single/sparselu.gcc.single-omp-tasks
sparselu_single/sparselu.gcc.single-omp-tasks-tied
